
html, body {
    height: 100%;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  
  footer {
    background-color: #f8f9fa;
    color: #212529;
    padding: 20px 0;
    text-align: left; 
    margin-top: auto; 
  }
  
  footer .container {
    max-width: 1140px; 
  }
  
  .footer-logo {
    max-width: 100%;
    height: auto;
  }
  
  .link-dark {
    color: #343a40;
  }
  
  .link-dark:hover {
    color: #495057;
    text-decoration: none;
  }
  
  
  footer p {
    margin-bottom: 1rem; }
  