<!DOCTYPE html>
<html>
<head>
    <title>titulo de pestaña:{{titulo}}</title>
</head>
<body>
    <h1>el mensaje = {{mensaje}}</h1>
    <p>los datos recibidos desde el controlador: {{datosAdicionales}}</p>
</body>
</html>
